/*
color
#FFEBAE - Lemon Meringue 
#A7B5FE - Periwinkle
#D4E0F0 - Columbia
#FEB737 - Honey
#7CB8C0 - Sea Breeze
#543787 - light Indigo

fonts
font-family: "Lato", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/*header*/
header{width: 100%; padding: 18px 0px; position: fixed; height: 80px; }
.header-inner{ max-width: 1300px; width: calc(100% - 50px); margin: auto; height: 100%;}
#header-menu{ list-style: none; display: flex; padding-left: 0px;}
#header-menu li, #header-menu li a{ margin-right: 20px; font-weight: 700; color:#543787; text-transform: uppercase; }

/*main*/
body{ background: #FFF; margin: 0;}
main{ padding-top: 80px;}
.section-inner{max-width: 1300px; width: calc(100% - 50px); margin: auto; padding: 50px 0;}

a{ text-decoration: none; color: unset;    }
h1{   font-family: "Lato", sans-serif;}
h2{    font-family: "Lato", sans-serif;}
h3{  font-family: "Lato", sans-serif;}
h4{   font-family: "Lato", sans-serif;}
li{   font-family: "Lato", sans-serif;}
p{  font-family: "Lato", sans-serif;}

/*color schemes*/
.lemon-bg{background:#FFEBAE; color:#543787;}/*
.periwinkle-bg{background: #A7B5FE;  color:#543787;}*/
.columbia-bg{ background: #D4E0F0; color: #543787;}
/*.honey-bg{background: #FEB737; color: #FFF;}
.sea-bg{ background: #7CB8C0; color: #FFF;}*/
.indigo-bg{background: #543787; color: #FFF;}

/*footer*/
footer{width: 100%; padding: 18px 0px; }
.footer-inner{max-width: 1300px; width: calc(100% - 50px); margin: auto;}
#footer-menu{list-style: none; display: flex; padding-left: 0px;}
#footer-menu li, #footer-menu li a{ margin-right: 20px; font-weight: 700; text-transform: uppercase; }